.backbutton {
	display: flex;
	justify-content: left;
	align-items: left;
	max-width: 150px;
	flex-direction: column;
	position: absolute;
}
/* 加载中动画 */
@keyframes loading {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.loading span {
    animation-name: loading;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
	font-size: 20px;
	font-weight: bold;
}

.loading span:nth-child(2) {
    animation-delay: 0.4s;
}

.loading span:nth-child(3) {
    animation-delay: 0.8s;
}

.loading span:nth-child(4) {
    animation-delay: 1.2s;
}

.loading span:nth-child(5) {
    animation-delay: 1.6s;
}

.loading span:nth-child(6) {
    animation-delay: 2s;
}

.qr_code {
	position: absolute;
	right: 0%;
	top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	margin-right: 5px;
}

.qr_code img {
	width: 40%;
	height: auto;
	max-width: 100px;
}

.qr_code p {
	margin-top: 5px;
	font-size: 17px;
}

@media screen and (max-width: 768px) {
	.qr_code p {
		font-size: 15px;
		/* 手机端的字体大小 */
	}
}

.left_sec {
	margin-top: 18px;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}

.main2 {
	width: 83%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin-left: 0%;
	margin-top: 24px;
	padding-top: 10px;
}

.main2 .sons {
	height: auto;
	width: 100%;
	clear: both;
	background-color: #F0EFE2;
	overflow: hidden;
	margin-top: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 3px;
}


.main2 .sons .cont {
	height: auto;
	clear: both;
	margin-top: 15px;
	font-size: 14px;
	margin-left: 10%;
	margin-right: 20px;
	line-height: 200%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

/* 诗句内容 */
.main2 .sons .cont .contson {
	clear: both;
	overflow: hidden;
	font-size: 17px;
	/* 电脑端的字体大小 */
}

@media screen and (max-width: 700px) {
	.main2 .sons .cont .contson {
		font-size: 16px;
		/* 手机端的字体大小 */
	}
}

/* 内容中的超链接 */
.main2 .sons .cont .contson a {
	font-size: 17px;
	color: red;
	text-decoration: underline;
	/* 电脑端的字体大小 */
}

@media screen and (max-width: 700px) {
	.main2 .sons .cont .contson a {
		font-size: 16px;
		/* 手机端的字体大小 */
	}
}

.main2 .sons .cont .scene {
	margin-top: 5px;
	margin-bottom: 11px;
	display: flex;
	align-items: right;
	line-height: 200%;
	text-align: center;
	margin-left: auto;
	/* 让右边对齐父容器 */
	flex-direction: column;
	max-width: 60%;
	width: 100%;
	/* 确保 .scene 元素占满父容器宽度 */
}

/* 时间地点 */
.main2 .sons .cont .scene p {
	font-size: 17px;
	line-height: 1.2;
	/* 设置行间距，例如 1.5 表示1.5倍行高 */
	margin: 3px;
}

@media screen and (max-width: 700px) {
	.main2 .sons .cont .scene p {
		font-size: 16px;
		/* 手机端的字体大小 */
	}
}

.main2 .sons .cont p {
	margin-bottom: 10px;
	line-height: 200%;
}

/* 标题 */
.main2 .sons .cont a {
	line-height: 200%;
	font-size: 20px;
	line-height: 22px;
	height: 22px;
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 700px) {
	.main2 .sons .cont a {
		font-size: 19px;
	}
}

.main2 .sons .cont span {
	line-height: 200%;
}